<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">


	<targets>
		<target name="LogFile" xsi:type="File" fileName="Solutions/NQueen_${shortdate}.log">
			<layout>${message}</layout>
		</target>
		<target name="ErrorFile" xsi:type="File" fileName="Logs/Err_${shortdate}.log" >
			<layout>${longdate} | ${level:uppercase=true} | ${logger} | ${exception:format=Message}${newline}${exception:format=StackTrace}</layout>
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Info" maxlevel="Warn" writeTo="logfile" />
		<logger name="*" minlevel="Error" writeTo="ErrorFile" />
	</rules>
</nlog>